@keyframes deleting {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
    
}

.deleting{
    animation: deleting 0.5s forwards;
}